@model List<ProductDto>
@{
    ViewData["Title"] = "Index";
}


<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">
        <a href="#">Admin</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
            <a class="btn btn-secondary" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>
            <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
    </li>
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> لیست محصولات
                        <a style="float: left;margin-top: 1px;" asp-action="AddProduct" class="btn btn-success">افزودن محصول جدید</a>
                    </div>
                    <div class="card-block">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>کد</th>
                                    <th>نام محصول</th>
                                    <th>قیمت</th>
                                    <th>دسته بندی</th>
                                    
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductCategoryTitle)
                                            </td>
                                         
                                            <td>
                                                @*<a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |*@
                                                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else

                                {
                                    <tr>
                                        <td colspan="4">هیچ محصولی وجود ندارد</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        @*<nav>
                        <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">Next</a>
                        </li>
                        </ul>
                        </nav>*@
                    </div>
                </div>
            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
</div>
<!-- /.conainer-fluid -->